/* ----- HEADER ----- */
#header {
  position: sticky;
  top: 0;
  min-height: 5vh;
  background-color: #222;
  z-index: 4;
}

.header-container {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.1rem 1.6rem;
}

.header-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.left-side {
  min-width: 47%;
}

/* ----- LEFT SIDE ----- */

.logo>a {
  display: flex;
  align-items: flex-end;
  gap: .5rem;
}

.logo img {
  height: 2.5rem;
}

.logo h1 {
  font-family: 'Myriad Pro Regular';
  text-transform: uppercase;
  font-size: 2.1rem;
}

/* ----- RIGHT SIDE ----- */
.search-bar {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: var(--ss-border-radius);
  background-color: var(--ss-light-color);
  padding: .1rem;
  transition: all 0.2s ease-in-out;
}

.search-bar .fa-magnifying-glass {
  color: #222;
  padding: .5rem;
}

#searchInput {
  border: none;
  background: transparent;
  color: #222;
  font-size: 1rem;
  padding: .5rem;
  width: 91%;
}

#searchInput:focus {
  outline: none;
}

.fa-cart-shopping {
  font-size: 1.3rem;
}

/* ----- NAV MENU ----- */
.menu-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 3;
}

.menu-list * {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.nav>li>a {
  transition: all .25s ease-in-out;
}

.nav>li>a:hover {
  color: rgb(97, 97, 97);
}

.menu-btn {
  z-index: 5;
  display: none;
  border: none;
  background-color: transparent;
  color: #fff;
}

.mobile-menu,
.filters-menu {
  display: flex;
  flex-direction: column;
}

.mobile-menu * {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  /* box-shadow: rgb(29, 29, 30) 0px 0px 10px; */
  text-transform: uppercase;
  letter-spacing: .15em;
}

/* ------ MEDIAS QUERIES ------ */
@media screen and (max-width: 1151px) {
  .search-bar {
    width: 35vw;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    gap: .3rem;
  }

  .nav {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .header-container {
    flex-direction: column;
  }

  .search-bar {
    width: 80%;
  }

  .header-side {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .logo img {
    height: 2.2rem;
  }

  .logo h1 {
    font-size: 1.6rem;
  }
}

/* ------ NAV ------ */
.drop-menu,
.drop-filters {
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  position: fixed;
  background-color: rgba(34, 34, 34, .85);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  z-index: 2;
  opacity: 0;
}

.drop-menu * {
  color: #fff;
  text-transform: uppercase;
}

.drop-menu.menu-mode,
.drop-filters.menu-mode {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.menu-content,
.filter-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
}