.album-card>img {
  width: 11.2rem;
  height: 10.4rem;
  object-fit: cover;
}

/* 34,375 */
/* 31,375 */

.album-card {
  position: relative;
  /* width: 12rem; 
  height: 18rem;  */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: var(--ss-card-background-color);
  box-shadow: 0 0 transparent, 0 0 transparent, 0 0.2rem 0.4rem rgba(0, 0, 0, .05);
  transition: all 0.1s ease-in-out;
}

.album-card:hover {
  box-shadow: 0 0 transparent, 0 0 transparent, 0 0.9rem 1.6rem rgba(0, 0, 0, .2);
}

.album-card * {
  color: #222;
}

.super {
  position: absolute;
  top: 10;
  left: 10;
  width: 100%;
  height: auto;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .album-card>img {
    width: 5.6rem;
    height: 5.2rem;
  }
}