#footer {
  min-height: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
  background-color: #222222;
}

.right-footer {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.right-footer>a>img {
  width: 2.5rem;
}

.social-icons {
  font-size: 1.3rem;
}