#album-list {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.album-list {
  padding: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#album-list>h2 {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* @media screen and (max-width: 768px) {
  .album-list {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .album-list {
    grid-template-columns: repeat(auto-fill, minmax(149px, 1fr));
  }
} */