.album-list {
  width: 80vw;
  padding: 0 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

#album-list {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  place-items: center;

}

#album-list>h2 {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
  .album-list {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}