.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* .filters *{
  font-family: 'Myriad Pro Bold Condensed';
  font-weight: 900;
} */
/* ---- BUTTON ---- */
.filter-btn {
  width: 4.4rem;
  padding: .3rem;
  background-color: #65D46E;
  color: var(--ss-dark-color);
  border-radius: var(--ss-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter-btn>button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  /* font-family: 'Myriad Pro Bold Condensed';
  font-weight: 900; */
}

/* ---- FILTER-LIST ---- */
.filters-list {
  width: 30%;
  /* width: 100%; */
  min-width: 18rem;
  background-color: var(--ss-light-color);
  /* padding: .5rem; */
  border-radius: .5rem;
}

.filters-list>ul {
  list-style: none;
  padding: .5rem;
  gap: .3rem;
  margin: 0;
}

.checkBoxBtn {
  display: flex;
  align-items: center;
  gap: .3rem;
  width: 100%;
  padding: .3rem;
}

.checkBoxBtn:hover {
  background-color: #404040;
}

.filters-list h4 {
  border-top: 1px solid #65D46E;
  margin-top: .5rem;
  /* padding: .5rem 0; */
}

.filters-list>* {
  padding: .5rem;
  text-transform: uppercase;
}

.title-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-filters>button {
  padding: 0 .6rem;
}

.decade-list {
  text-transform: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.genre-list>li>button {
  background-color: transparent;
  border: none;
}