/* ------ NAV ------ */
.drop-filters {
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  position: fixed;
  background-color: rgba(34, 34, 34, .85);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  z-index: 2;
  opacity: 0;
}

.drop-filters.menu-mode {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.filter-content {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10%;
}

/* ---- FILTER-LIST ---- */
.filters-list {
  width: 80vw;
  min-width: 18rem;
  margin-inline-start: .5rem;
}

.filters-list>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: .5rem;
  gap: .3rem;
  margin: 0;
}

.checkBoxBtn {
  border: none;
  background: transparent;
  font-weight: 600;
  color: #fff;

  display: flex;
  align-items: center;
  gap: .3rem;
  width: 100%;
  padding: 0 .3rem;
  border-radius: .3rem;
}

.checkBoxBtn * {
  padding: .3rem 0;
  font-size: 1rem;
  text-transform: capitalize;
}

.checkBoxBtn:hover {
  color: #0CC79E;
  /* border: 1px solid #0CC79E; */
}

.filters-list h4 {
  border-top: 1px solid #0CC79E;
  margin-top: .5rem;
}

.filters-list>* {
  padding: .5rem;
  text-transform: uppercase;
}

.title-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-filters>button {
  padding: 0 .6rem;
}

.decade-list {
  text-transform: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.genre-list>li>button {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 765px) {
  .drop-filters {
    visibility: hidden;
    transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
    position: fixed;
    top: 19%;
    background-color: rgba(34, 34, 34, .85);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 90vh;
    z-index: 2;
    opacity: 0;
    overflow-y: auto;
    padding-bottom: 5rem;
  }

  .filter-content {
    margin: 0;
    display: block;
    height: auto;
    width: 80%;
    max-width: 600px;
    border-radius: 4px;
    padding: 20px;
  }
}

#min-input,
#max-input {
  border-radius: .5rem;
  width: 4.5rem;
  border: 2px ridge #0CC79E;
  padding: .25rem;
}