/* ------ NAV ------ */
.drop-filters {
  background-color: rgba(34, 34, 34, 1);
  color: #fff;
  border: 1px solid black;
  height: fit-content;
  padding: 1rem;
  position: fixed;
  height: 20rem;
  z-index: 3;
  overflow: scroll;
}

.drop-filters::backdrop {
  /* background-color: hsl(250, 100%, 50%, 0.25); */
  background-color: rgba(34, 34, 34, 0);
}

.filter-content {
  margin-right: 0%;
  display: block;
  height: auto;
  width: 80%;
  padding: 20px;
}

#close-filters-btn {
  color: red;
  margin: 0;
}

#close-filters-btn::after {
  background-color: red;
}

/* ---- FILTER-LIST ---- */
.filters-list {
  width: auto;
  margin: 0;
}

.filters-list>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: .5rem;
  gap: .3rem;
  margin: 0;
}

.checkBoxBtn {
  border: none;
  background: transparent;
  font-weight: 600;
  color: #fff;

  display: flex;
  align-items: center;
  gap: .3rem;
  width: 100%;
  padding: 0 .3rem;
  border-radius: .3rem;
}

.checkBoxBtn * {
  padding: .3rem 0;
  font-size: 1rem;
  text-transform: capitalize;
}

.checkBoxBtn:hover {
  color: #0CC79E;
  /* border: 1px solid #0CC79E; */
}

.filters-list h4 {
  border-top: 1px solid #0CC79E;
  margin-top: .5rem;
}

.filters-list>* {
  padding: .5rem;
  text-transform: uppercase;
}

.title-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-filters>button {
  padding: 0 .6rem;
}

.decade-list {
  text-transform: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.genre-list>li>button {
  background-color: transparent;
  border: none;
}

#min-input,
#max-input {
  border-radius: .5rem;
  width: 4.5rem;
  border: 2px ridge #0CC79E;
  padding: .25rem;
}