.filters-bar {
  min-height: fit-content;
  display: none;
  align-items: center;
  gap: .1rem;
  border-top: .5px solid #fff;
}

.filters-bar * {
  text-transform: uppercase;
}

#mobile-add-btn,
#mobile-clear-btn,
#mobile-search-btn {
  display: none;
}

.filter-btn button{
  border: none;
  background-color: #0CC79E;
  color: #fff;
  cursor: pointer;
  /* padding: 1.1rem 1.6rem; */
  padding: .8rem 1.6rem;
}

select {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin: 0 .8rem;
}

@media screen and (max-width: 500px) {
  #mobile-add-btn,
  #mobile-clear-btn,
  #mobile-search-btn {
    display: block;
  }

  .add-btn,
  .clear-btn,
  .search-btn {
    display: none;
  }

  .filters-bar {
    justify-content: center;
    gap: 0;
  }

  .filter-btn button {
    border-right: 1px solid #222;
  }
}